<!doctype html>
<!-- Inspiration : https://demo.ctfd.io/ -->
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}"
      th:with="currentPage='team'">
<head>
    <title>Team | CTFa</title>
</head>
<body>

<div layout:fragment="jumbotron">
    <div class="jumbotron">
        <div class="container">
            <h1 th:text="${team.getTeamname()}">Teamname</h1>
        </div>
    </div>
</div>

<!-- Main container -->
<div layout:fragment="content" class="container">

    <div th:if="${user.isInATeam()}" class="row">
        <div class="col-12">
            <h3>Members</h3>
        </div>
        <div class="col-12">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">User score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="member : ${team.getTeamMembers(userRepo)}">
                        <td scope="row" th:text="${member.getUsername()}">Username</td>
                        <td th:text="${member.getScore(challSolveRepo, challRepo)}">Score</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- If not already in a team -->
    <div class="row" th:if="${!user.isInATeam()}">
        <div class="col-md-6 offset-md-3 text-center">
            <p>Bienvenue sur CTFa!</p>
            <p>Afin de participer vous devez rejoindre une équipe.</p>
        </div>
    </div>
    <div class="row pt-3 pb-5" th:if="${!user.isInATeam()}">
        <div class="col-md-3 offset-md-3 text-center">
            <a class="btn btn-primary w-100" th:href="@{/teams/join}">Rejoindre une équipe</a>
        </div>
        <div class="col-md-3 text-center">
            <a class="btn btn-primary w-100" th:href="@{/teams/create}">Créer une équipe</a>
        </div>
    </div>
</div>
</body>
</html>